.todo-app {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 720px;
    min-height: 600px;
    background: #221c1b;
    text-align: center;
    margin: 128px auto;
    border-radius: 10px;
    padding-bottom: 32px;
  }
  
  h1 {
    margin: 32px 0;
    color: #fff;
    font-size: 24px;
  }
  
  .complete {
    text-decoration: line-through;
    opacity: 0.4;
  }
  
  .todo-form {
    margin-bottom: 32px;
  }
  
  .todo-input {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #ff0cdb;
    outline: none;
    width: 520px;
    background: transparent;
    color: #fff;
  }
  
  .todo-input::placeholder {
    color: #e2e2e2;
  }
  
  .todo-button {
    padding: 16px;
    margin: 10px;
    border: none;
    border-radius: 4px 4px 4px 4px;
    cursor: pointer;
    outline: none;
    background: linear-gradient(
      90deg,
      rgb(198, 67, 159) 0%,
      rgb(16, 154, 204) 100%
    );
    color: #fff;
    text-transform: capitalize;
  }
  
  .todo-input.edit {
    border: 2px solid #149fff;
  }
  
  .todo-button.edit {
    background: linear-gradient(
      90deg,
      rgba(20, 159, 255, 1) 0%,
      rgba(17, 122, 255, 1) 100%
    );
    padding: 16px 22px;
  }
  
  .todo-container {
    display: flex;
    flex-direction: row;
    position: relative;
  }
  
  .todo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin: 4px auto;
    color: #fff;
    background: linear-gradient(
      90deg,
      rgb(230, 142, 80) 0%,
      rgba(255, 84, 17, 1) 100%
    );
  
    padding: 16px;
    border-radius: 5px;
    width: 90%;
  }
  
  .todo-row:hover:nth-child(n){
    color: #221c1b;
    background: linear-gradient(
      90deg,
      rgb(234, 227, 231) 0%,
      rgb(159, 155, 162) 100%
    );
  }
  
  .todo-row:nth-child(4n + 1) {
    background: linear-gradient(
      90deg,
      rgb(174, 97, 223) 0%,
      rgb(219, 255, 12) 100%
      
    );
  }
  
  .todo-row:nth-child(4n + 2) {
    background: linear-gradient(
      90deg,
      rgba(255, 12, 241, 1) 0%,
      rgb(189, 55, 55) 100%
    );
  }
  
  .todo-row:nth-child(4n + 3) {
    background: linear-gradient(
      90deg,
      rgb(46, 194, 152) 0%,
      rgba(17, 122, 255, 1) 100%
    );
  }
  
  .icons {
    display: flex;
    align-items: center;
    font-size: 34px;
    cursor: pointer;
  }
  
  .delete-icon {
    margin-right: 5px;
    color: #fff;
  }
  
  .edit-icon {
    color: #fff;
  }
  
  .completed-icon {
    color: #fff;
    margin-right: 6px;
  }